.habit-container {
    width: 500px;
    margin: auto;
}

.habit-week-container {
  margin-top: 15px;
}

.habit-week-title-container {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  font-weight: 350;
}

.habit-week-type-container {
  font-size: 16px;
  margin-top: 3px;
  color: grey;
}

.week-picker-container {
    width: 500px; /* You can adjust the width */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff; /* Light grey background */
    font-size: 22px;
    font-weight: 300;
}

.week-picker-button {
    cursor: pointer;
    width: 30px; /* You can adjust the width */
    height: 30px; /* You can adjust the height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0; /* Light grey button background */
    border-radius: 5px; /* Optional for rounded corners */
}

.week-picker-button:hover {
    background-color: #d0d0d0; /* Optional for hover effect */
}

.edit-button {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.delete-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.edit-button:hover {
  transform: scale(1.1);
}

.home-header-container {
  width: 500px;
  margin: auto;
  font-size: 38px;
  font-weight: 250;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
}

.home-header-username {
  margin-left: 10px; 
  font-weight: 350;
  /* font-style: italic; */
  /* font-size: 45px; */
}

.habit-week-wrapper {
    display: flex;
    justify-content: space-between;
}

.habit-week-container {
    flex: 1;
}

.habit-menu-buttons {
    width: 500px; 
    margin: auto;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px; /* optional: to create some space between the buttons */
}

.add-habit-button, .remove-habit-button {
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.button-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px; /* optional: to create some space between the buttons */
}

.button {
    margin-top: 55px;
    display: flex;
    width: 20px; /* set a fixed width if desired */
    height: 20px; /* set a fixed height if desired */
    cursor: pointer; /* make it look clickable */
}

.habit-week-atoms-container {
  display: flex;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
}
/* style={{ display: 'flex', border: '1px solid light-grey' }} */

.week-header-container {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.week-header-day {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: '1px solid black'; 
}

.habit-week-atoms-container > div {
    flex: 1;
    height: '40px';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    border-right: '1px solid black';
    cursor: 'pointer';
}
